## jupyter notebook of japanese to English xlsx converter for single sheet without psswd
E Chakrak <br>
Tm no.896 <br>
[github_link](https://www.github.com/Ch4kr4k/ja2enxlsx)

#### rough proposal of system design
![sys](systemdesign.png)

#### working Concept of japanese to English xlsx converter for single sheet without psswd

In [11]:
# importing libraries
from googletrans import Translator, constants
from pprint import pprint
import pandas as pd

In [2]:
_2ja = Translator()

In [3]:
df = pd.read_excel("jap test.xlsx")

##### testing mix japanese with english and numeric

In [4]:
print(df.head())

  送信側ECUのData Length Code（データ長）を表す。CANフレームの場合DLCは0, 1, 2, 3, 4, 5, 6, 7, 8Byte、 CAN FDフレームの場合DLCは0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 16, 20, 24, 32, 48, 64Byteとなる。\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  \
0  送信側ECUのData Length Code（データ長）を表す。CANフレームの場合DLC...

  送信側ECUのData Length Code（データ長）を表す。CANフレームの場合DLCは0, 1, 2, 3, 4, 5, 6, 7, 8Byte、 CAN FDフレームの場合DLCは0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 16, 20, 24, 32, 48, 64Byteとなる。
0  送信側ECUのData Length Code（データ長）を表す。CANフレームの場合DLC...

In [5]:
tmp_text = _2ja.translate(df.iat[0,0], dest="en", src="ja")
df.iat[0,0] = tmp_text.text

In [6]:
print(tmp_text.text)

Represents the Data Length Code (data length) of the transmitting ECU. DLC is 0, 1, 2, 3, 4, 5, 6, 7, 8 bytes for CAN frame, and 0, 1, 2, 3, 4, 5, 6, 7, 8, 12 for CAN FD frame , 16, 20, 24, 32, 48, 64 bytes.

In [10]:
for i in range(0,2):  # just visualizing the data
    for j in range(0,2):
        print(f"{i}{j}")

00
01
10
11

Reading the excel sheet that is in japanese

In [26]:
df = pd.read_excel("jap_test2.xlsx", skiprows=0)
df.head()

     名前はなんですか 私の名前は 夢を諦めて死んでください
0  あきらめてはいけない  天気の子          すずめ
1   君の膵臓を食べたい  さみしい          悲しい
2           水     山          美しい
3          女神     夢            愛
4          心臓     魂          NaN

##### table format
df[cols,rows]

|head|head|
|--|--|
|00|01|
|10|11|

In [25]:
for cols in range (0,5):  # visualization
    for rows in range (0,3):
        print(df.iat[cols, rows])

あきらめてはいけない
天気の子
すずめ
君の膵臓を食べたい
さみしい
悲しい
水
山
美しい
女神
夢
愛
心臓
魂
nan

here the below range of rows and cols can be dynamic. by changing it to below
```python
row_range = int(input("row range"))
col_range = int(input("col range"))

```

In [41]:
### function to convert ja to en and save to new excel
def conv2en(df):
    for cols in range (0,5):
        for rows in range (0,3):
            tmp_text = _2ja.translate(df.iat[cols,rows], dest="en", src="ja")
            df.iat[cols,rows] = tmp_text.text
    df.to_excel("test2.xlsx", index=False)

In [42]:
conv2en(df)

In [43]:
saved_df = pd.read_excel("test2.xlsx", skiprows=0)
saved_df.head()

                      名前はなんですか                 私の名前は 夢を諦めて死んでください
0                don't give up  child of the weather      Sparrow
1  i want to eat your pancreas                lonely          sad
2                        water              Mountain    beautiful
3                      Goddess                dreams         Love
4                        heart                  soul          NaN